<!-- main/templates/social_signup.html -->

{% extends 'base.html' %} {% load static %} {% block navbar %} {% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'css/user_signup.css' %}" />
<div class="screen">
    <div class="signup-container">
        <h1 class="title">SitU에 오신 걸 환영합니다</h1>
        <h2 class="subtitle">회원가입</h2>
        <div class="separator"></div>
        <form method="post" action="{% url 'social_signup' %}">
            {% csrf_token %} {{ form.as_p }}
            <div class="separator"></div>
            <button type="submit" class="signup-button">회원가입하기</button>
        </form>
    </div>
</div>

{% endblock %}
