asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0.7
django-allauth==0.63.6
et-xmlfile==1.1.0
filelock==3.13.1
geographiclib==2.0
geopy==2.4.1
idna==3.6
MIDIUtil==1.2.1
mysqlclient==2.2.4
numpy==1.26.3
openpyxl==3.1.2
pandas==2.2.0
pillow==10.4.0
pipenv==2023.12.1
platformdirs==4.2.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.4
requests==2.31.0
setuptools==69.0.3
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tzdata==2023.4
urllib3==2.2.0
virtualenv==20.25.1
wheel==0.42.0
